<form action="/cart" method="POST">
    <input type="hidden" name="addedProductId" value="<%= productId %>" />

    <!-- CSRF-Attacks-Prevention -->
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <button>Add to Cart</button>
</form>