<!-- Error-Page-Middleware -->
<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>

    <p>Page Can't be displayed! Please Contact Admin!</p>
    <p><%= err %></p>

</body>
</html>