<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/main.css" >
</head>
<body>
    <%- include('includes/nav.ejs') %>

    <main class="centered">
        <a href="?page=1">1</a>
        <a href="?page=2">2</a>
        <a href="?page=3">3</a>
        
        <h1><%= blogTitle %></h1>
        <p class="justified"><%= blogContent %></p>
    </main>

</body>
</html>