<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/shop/productList.css" />
    <link rel="stylesheet" href="/orders/checkout.css" />
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <main class="centered">
        <h2>Checkout Page</h2>
        <div class="items">
            <section>
                <h3>aras</h3>
                <p>aras</p>
                <em>aras</em>
                <em>aras</em>
            </section>
        </div>
        <p>Total Price: <%= totalPrice %></p>
    </main>

</body>
</html>