<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../signup-and-login.css" />
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <% if (pageMessage) { %>
        <p class="centered warning"><%= pageMessage %></p>
    <% } %>
    <h2 class="centered flex">Enter New Password</h2>
    <form action="/password_reset" class="centered flex" method="POST">
        <label for="password1">Enter Password</label>
        <input type="password" id="password1" name="entered-pass">

        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="entered-pass-confirm">

        <button class="btn" type="submit">Change Password</button>
    </form>
</body>