.flex-forum {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
}

.flex-forum2 {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
}
  
.flex-forum2 > article {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
}

.flex-forum2 > article > h3 {
    color: crimson;
}

.flex-forum2 > article > p {
    color: #26372b;
}

.flex-forum2 > article > em {
    display: block;
    padding: 10px;
    text-align: end;
    color: blue;
}

.flex-forum > * {
    padding: 10px;
}

.flex-forum > label {
    padding: 0;
}

.flex-forum > input {
    margin: 10px 0 10px 0;
}

.flex-forum > textarea {
    margin: 10px 0 10px 0;
}

#warning-message {
    background-color: #d0d0c1;
    font-weight: bold
}

.warning-message {
    color: crimson;
}

.success-message {
    color: blue;
}