.flex-forum {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
}

.flex-forum > * {
    padding: 10px;
}

.flex-forum > label {
    padding: 0;
}

.flex-forum > input {
    margin: 10px 0 10px 0;
}

.flex-forum > textarea {
    margin: 10px 0 10px 0;
}

#warning-message {
    background-color: #d0d0c1;
    font-weight: bold
}

.warning-message {
    color: crimson;
}

.success-message {
    color: blue;
}