.flex {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
}

.flex > * {
    padding: 10px;
}

.flex > label {
    padding: 0;
}

.flex > input {
    margin: 10px 0 10px 0;
}

.checkbox-container input[type="checkbox"] {
    margin: 10px;
    transform: scale(2);
}

.warning {
    color: red;
    background-color: antiquewhite;
    font-size: 20px;
    padding: 2px;
}